@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background: #f8f9fa;
}

.bg-brand-gradient {
  background: linear-gradient(135deg, #7c4dff 0%, #651fff 100%);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
