.bg-brand-gradient {
  background: linear-gradient(135deg, #7c4dff 0%, #651fff 100%);
}

.text-brand-primary {
  color: #7c4dff;
}

.bg-brand-primary {
  background-color: #7c4dff;
}

.bg-brand-secondary {
  background-color: #651fff;
}

.border-brand-primary {
  border-color: #7c4dff;
}

.hover\:bg-brand-secondary:hover {
  background-color: #651fff;
}

.hover\:text-brand-primary:hover {
  color: #7c4dff;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

